pipeline/email_notification.json
{
	"name": "email_notification",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select top 5 *from [dbo].[sucid_demo]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SqlServerTable_function_test",
						"type": "DatasetReference",
						"parameters": {
							"column1": {
								"value": "@concat('year','type_code')",
								"type": "Expression"
							},
							"column2": {
								"value": "@concat('type','gender')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlTable_function",
						"type": "DatasetReference",
						"parameters": {
							"table_name": {
								"value": "@concat('sucide',startOfDay(utcnow()))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-27.eastus.logic.azure.com:443/workflows/bb4d00fc498c4a1189786f5b6b95c31d/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=4Co1KJ8HHhK1TNNrvPOTo2mAeXeINvuUCMWxD7tdcEg",
					"method": "POST",
					"body": {
						"value": "{\n\"datafactoryname\":\"@{pipeline().DataFactory}\",\n\"errormessage\":\"@{activity('Copy data1').Error.Message}\",\n\"pipelinename\":\"@{pipeline().Pipeline}\",\n\"colour\":\"GREEN\",\n\"title\":\"NOTIFICATION\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web1_copy1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-27.eastus.logic.azure.com:443/workflows/bb4d00fc498c4a1189786f5b6b95c31d/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=4Co1KJ8HHhK1TNNrvPOTo2mAeXeINvuUCMWxD7tdcEg",
					"method": "POST",
					"body": {
						"value": "{\n\"datafactoryname\":\"@{pipeline().DataFactory}\",\n\"Errormessage\":\"NO ERROR PIPELINE Run Successfully \",\n\"pipelinename\":\"@{pipeline().Pipeline}\",\n\"colour\":\"GREEN\",\n\"title\":\"NOTIFICATION\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2020-09-05T01:41:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}